{% extends "base.html" %}
{% load static %}
{% block 'title' %}About Me{% endblock  %}
{% block 'style' %}

<link rel="stylesheet" href="{% static 'css/businiss.css' %}">
<style>
 
</style>
{% endblock  %}


{% block 'content' %}
<section class="about">
   <h1>About Me</h1>
  <p> 
    I am an experienced front-end and back-end developer with a strong proficiency in Django and Python.
    Over the years, I have successfully developed a range of projects, including a sophisticated eCommerce store,
    a comprehensive job portal, and a personal portfolio. My work is characterized by a meticulous attention to detail,
    unwavering focus, and a commitment to consistency and hard work.</p>

    <h1>My Journey</h1>
  <p>My journey in web development has been driven by a passion for creating seamless and efficient user experiences.
     Each project I undertake is a testament to my dedication to learning and growing as a developer. From crafting dynamic
     and responsive front-end interfaces to designing robust and scalable back-end systems,
     I ensure that every aspect of my work meets the highest standards of quality and performance.</p>
    
    <h1>Key Projects</h1>
    <p>eCommerce Store: Developed a fully functional online store with advanced features such as secure payment gateways,
        inventory management, and a user-friendly shopping experience.</p>
      
    <p>Job Portal: Created a comprehensive job portal that connects employers with potential candidates, 
        featuring advanced search capabilities, user profiles, and application tracking.</p>

    <p>Personal Portfolio: Designed a personal portfolio to showcase my skills, projects, and professional journey,
       highlighting my expertise and accomplishments.</p>

    <h1>My Philosophy</h1>
    <p>I believe that continuous learning is the key to staying ahead in the fast-evolving field of technology.
       I have immersed myself in numerous books and resources to enhance my knowledge and skills. Moving forward, 
       I am excited to delve into the world of Artificial Intelligence, aiming to integrate AI technologies into my future projects.</p>
    
    <h1>Why Choose Me?</h1>
    <p>Choosing me means partnering with a developer who is not only skilled and experienced but also deeply committed to 
        delivering excellence. My approach to work is methodical and thorough, ensuring that every project is completed efficiently and effectively.
       I am dedicated to pushing the boundaries of what is possible and continuously improving my craft.</p>
    
    <h4>Let's build something amazing together!</h4>
   </section>

{% endblock  %}