{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <!-- Link to favicon -->
        <link rel="icon" type="image/png" style: border-radius=40%; sizes="48x48" href="{% static 'images/ahtisham_collage.jpg' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       
        <title> {% block 'title' %} 
                 {% endblock  %}</title>
        {% block 'style' %}
        

      
        {% endblock  %}

    </head>
    <body>
        

        {% include "_navbar.html" %}

        {% block 'content' %}

       {% comment %} {% include "_messages.html" %} {% endcomment %}
        {% comment %} {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-error{% endif %}">
                    {{ message }}
                </div> 
            {% endfor %}
        {% endif %}
} {% endcomment %}   {% endblock %}

        {% comment %} {% include "_footer.html" %} {% endcomment %}
  <a href="https:/wa.me/923147358828"  target="_blank" class="whatsapp_float"><i class="fa-brands fa-whatsapp whatsapp-icon"></i></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/scripts.js' %}">

    </body>
</html>
