@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --main-color:#14ff6a;
  --black-text:rgb(44, 44, 44);
  --white-text:white;
  --white-bg: white;
  --black-bg:linear-gradient(60deg, #29323c 0%, #485563 100%);
  --yellow-bg:#ffd723;
  --border-radius:5px;
  --big-container-radius:10px
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-style: normal;
 
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
width: 100%;
height: 100%;
background-color: #f4e6eb;
background-image: linear-gradient(0deg, #f4e6eb 0%, #e7fffe 100%);
color: var(--black-text)
}
section{
  min-height: 100vh;
  padding:6rem 9% ;
}
h3{
  font-size: 20px;
}
p {

  font-size: 16px;
  font-weight: 300;
  color:var(--black-text);
}
span{
  color:var(--main-color);
  font-weight: 700;
}
button {
  font-size: 20px;
}
.heading{
  color:var(--main-color);
  text-align: center;
  font-size: 8rem;;
  margin-bottom: 8rem;
  }
  ::-webkit-scrollbar{
    width: 12px;
    }
    ::-webkit-scrollbar-thumb{
      background-color: #f4e6eb;
      background-image: linear-gradient(0deg, #f4e6eb 0%, #e7fffe 100%);
    height: 73px;
    
    }
    ::-webkit-scrollbar-track{
      background-color: #f4e6eb;
      background-image: linear-gradient(0deg, #f4e6eb 0%, #e7fffe 100%);
      width: 30px;
    }
.home{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}
.home-content{
  padding:8px 0px 15px;
}
.home-img img{
  max-width: 480px;
  min-height: 210px;
  max-height: 420px;
  border-radius: var(--big-container-radius);
  cursor: pointer;
}
.home-img img:hover {
  transform: scale(1.1)translate(5px);
  box-shadow: var(--main-color) 0px 22px 70px 4px ;
}
.home-content h1 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 1.3;
}
/* .social-icons */
ul {
  list-style: none;
}
.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap:10px;
}
.socials .icon-content {
  margin:50px 0px;
  position: relative;
  /* background-color: #000; */
}
.socials .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 6px 10px;
  border-radius: 10%;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
}
.socials .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.socials .icon-content a {
  --size:50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  border-radius: var(--border-radius);
  color: var(--white-bg);
  background: black;
}
.socials .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px black;
}
.socials .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.socials .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-radius: var(--border-radius);
}
.socials .icon-content a:hover .filled {
  height: 100%;
}
 /* .socials .icon-content a[data-social="linkedin"] .filled, */
.socials .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}
/* .socials .icon-content a[data-social="github"] .filled, */
.socials .icon-content a[data-social="github"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
/* .socials .icon-content a[data-social="facebook"] .filled, */
.socials .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #1c7dfc;
}
.btn {
  display:flex;
  padding:5px 40px;
  border: 1px solid var(--main-color);
  border-radius: var(--border-radius);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--white-bg);
  backdrop-filter: blur(20px);
  z-index: 1;
}
.btn i,a {
  color: black;
}
.btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color:var(--main-color);
  border-radius: 50%;
  display: block;
  transition: all 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.btn:hover:before {
  top: -35%;
  background-color:var(--main-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.btn:hover:after {
  top: -45%;
  background-color: var(--main-color);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.text-animation {
  font-size: 40px;
  font-weight: 600;
  width: 100%;
  margin:10px 0px;
}
.text-animation span {
  position: relative;
}
.text-animation span::before{
 content:"Web Developer";
 animation: words 20s infinite;
 height: 30px;

}
.text-animation span::after {
  content:"";
  position: absolute;
  background-color: #e7fffe;
  width:calc(100% + 8px);
  height: 100%;
  border-left: 10px solid var(--main-color);
  right: -8px;
  animation: cursor 6s infinite, typing 20s steps(19) infinite
}
@keyframes cursor {
  to{
      border-left: 10px solid var(--main-color);
  }

}
@keyframes words {
  0%,
  30%{
      content:"Frontend Developer";
  }31%,
  50%{
      content:"Backend Developer";
  }51%,
  80%{
      content:"Django Developer";
  }81%,
  85%{
    content: "Web Developer";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95%{
    width:0;
  }
  5%,
  20%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85%{
    width:calc(100% + 8px)
  }
}
/* services */
.service-container {
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap:3rem;
}
.service-container .services-box {
display: flex;
flex-direction: column;
justify-content: center;
text-align:center;
padding:20px ;
height: 450px;
width: 30%;
min-width: 280px; 
border-radius: var(--big-container-radius);
backdrop-filter: blur(40px);
background-color: rgba(75, 75, 75, 0.11);
box-shadow: rgba(0, 0, 0, 0.56) 1px 2px 3px 3px;
}

.fa-code {
font-size: 6rem;
color:var(--main-color);
}
.fa-server {
font-size: 6rem;
color:var(--main-color);
}
.fa-palette {
font-size: 6rem;
color:var(--main-color);
}
.services-box .strong-text {
  font-size: 16px;
  color:black;
}
/* projects */
.proj-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.project-box {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  gap:10px;
  padding:25px 18px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--big-container-radius);
  box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-height: 540px;
  min-height:480px;
  width: 30%;
  min-width:300px;
}
.project-box img {
  border-radius: var(--big-container-radius);
  width: 100%;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.56) 1px 2px 3px 3px;
}
.project-box .btn {
  display: block;
  max-width: 150px;
  padding:3px 8px;
}
.proj-content p {
 flex:1;
}

/* Education */
.timeline-section{
padding:100px 20px;
}
.timeline-items {
max-width: 1000px;
display: flex;
flex-wrap: wrap;
position: relative;
margin:auto;
}
.timeline-items::before {
content: "";
position: absolute;
width: 3px;
height: 100%;
box-shadow: 0px 0px 10px black;
left: 50%;
color:var(--black-text);
background-color:black;
border-radius: var(--border-radius);
}
.timeline-item {
margin-bottom: 20px;
position: relative;
width:100%;
}
.timeline-item:last-child{
margin-bottom: 0px;
}
.timeline-item:nth-child(odd){
padding-right: calc(50% + 20px);
}
.timeline-item:nth-child(even){
padding-left: calc(50% + 20px);
}
.timeline-dot {
height: 21px;
width: 21px;
background-color: var(--main-color);
position:absolute;
left:calc(50% - 8px);
top:0px;
border-radius: 50%;
box-shadow: 0 0 25px var(--main-color);
}
.timeline-date {
font-size: 20px;
margin: 6px 0 10px;
font-weight: 800;
}
.timeline-content {
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
padding:20px;
border-radius: var(--border-radius);
cursor: pointer;
}
.timeline-content h3 {
color:var(--main-color);
}
.timeline-content p {
  color:var(--white-bg);
}
.timeline-content a {
  color:var(--main-color);
  text-decoration: none;
}

/* certificate */
#certificate{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}
#certificate img {
height: 100%;
width:80%;
border: 1rem solid var(--main-color);
 border-image: repeating-linear-gradient(45deg, transparent, transparent 5px,var(--main-color) 6px, var(--main-color) 15px, transparent 16px, transparent 20px) 20/1rem; 
border-radius:var(--big-container-radius);
}

/* my
mentors */
.ment-container {
 gap:5px;
display: flex;
justify-content: space-around;
}
.card {
width: 250px;
height: 290px;
background-color: #405de6;
padding: 2rem 0.5rem;
display: flex;
flex-direction: column;
position: relative;
}
.card-info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

/*Image*/
.card-avatar {
--size: 120px;
width: var(--size);
height: var(--size);
border-radius: 5%;
margin-bottom: 1rem;
background-position: center;
background-size: cover;
}
/* Specific Avatar Images */
.card:nth-child(1) .card-avatar {
background-image: url('/static/images/Zeshan_usmani.jpg');
}
.card:nth-child(2) .card-avatar {
background-image: url('/static/images/Irfan_malik.jpg');
}
.card:nth-child(3) .card-avatar {
background-image: url('/static/images/Mufti_tariq_masood.jpg');
}
.card:nth-child(4) .card-avatar {
background-image: url('/static/images/Azad_chaiwala.jpg');
}
/*Card footer*/
.card-social {
display: flex;
justify-content: space-around;
width: 100%;
opacity: 1;
position:absolute;
z-index: 1;
bottom: 25%;
top:75%;
left:0;
right:0;
}
.card-social__item {
list-style: none;
}
.card-social__item svg {
display: block;
height: 24px;
width: 24px;
color:black;
font-size: 25px;
cursor: pointer;
}
/*Text*/
.card-title {
color:var(--white-text);
font-size: 16px;
font-weight: 600;
}
.card-subtitle {
color: #eef9ff;
font-size: 12px;
text-align: center;
}
/*Hover*/
.card:hover  {
box-shadow: 0px 6px 0px var(--main-color);
}
.card:hover .card-info {
transform: translateY(-5%);
}
.card:hover .card-social {
transform: translateY(100%);
opacity: 1;
}
.card-social__item svg:hover {
color: var(--white-bg);
transform: scale(1.1);
}
.card-avatar:hover {
transform: scale(1.1);
}
/* contact */
.contact form {
 /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: var(--big-container-radius);
  box-shadow: 1px 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  max-width: 80rem;
  margin:1rem auto;
  padding:30px 40px;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width:100%;
  padding:1.5rem;
  color: black;
  border-radius: 6px;
  backdrop-filter: blur(40px);
  background-color: white;
  opacity: 0.8;
  margin:1rem 0 ;
  resize: horizontal;
  font-size: 16px;
}
.contact form {
  margin-top: 2rem;
}
.contact form .btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap:4px;

}
/* .footer */
.footer {
  position: relative;
  bottom: 0;
  width:100;
  padding:40px 0;
  background-color: #f4e6eb;
  background-image: linear-gradient(180deg, #f4e6eb 0%, #e7fffe 100%);
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
}
.footer .social-icons {
  text-align: center;
}
.footer ul {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}
.footer .list li,a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: var(--border-radius);
}
.footer .list li a:hover{
  background: var(--black-bg);
  color:var(--white-bg);
  
}
.footer .copywright {
  font-size: 15px;
  margin-top: 50px;
  text-align: center;
  color:var(--black-text);
}
 .heart {
  color:red;
}
/* whatsapp */
.whatsapp_float {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 60px;
  right: 40px;
  background-color: black;
  color:white;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px black;
  z-index: 100;
}
.for-sub {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
/* for mobile */
@media screen and (max-width: 767px){
  .whatsapp_float {
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 15px;
    font-size: 25px;
  }
}
/* About */
.about {
     background-color: var(--white-bg);
}
.about h1 {
  padding:20px 0;
  color:var(--main-color);
  font-size: 30px;
  font-weight: 800;
}
/* For Dashboard */
  table {
  padding:10px;
  margin:14px 20px;
  color:white;
  width:95%;
  background-color: aliceblue;
  box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
  10px 10px 70px rgba(0,0,0,0.25),
  inset 5px 5px 10px rgba(0,0,0,0.5),
  inset 5px 5px 20px rgba(255,255,255,0.2),
  inset -5px -5px 15px rgba(0, 0, 0, 0.75);
  }
  th{
      width: 100px;
      padding:10px;
      align-items: center;
      font-size: 15px;
  }
  td{
      align-items: center;
      justify-content: space-around;
      padding:8px;
      color: black;
      font-size: 15px;
  }
  tr{
      margin:5px;

  }
  colgroup {
      color:white;
  }
@media screen and (max-width:1200px) {
html {
  overflow-x: hidden;
}
section{
  padding:4rem 9% ;
}
}
@media  screen and (max-width: 950px){
 .home-content h1 {
  font-size: 5rem;
 }
 .home-content h3 {
  font-size: 2.5rem;
 }
 .ment-container {
  flex-wrap: wrap;
  gap:20px;
  justify-content: center;
}
.card {
  width: 220px;
  height: 290px;
  }
}
@media  screen and (max-width: 900px) {

  .proj-container {
    flex-direction: column;
    align-items: center;
  }
    .services {
      padding-bottom: 6rem;
    }
    .footer {
      padding:2rem 3%;
    }
    .home{
      gap:1rem;
    }
}
/* Media Query for Mobile Screens */
@media  screen and (max-width: 800px) {
  section {
    padding:2% 3% ;
  }
  .heading{
  font-size: 6rem;
  }
  .text-animation {
    font-size: 2vw;
  }
  .home {
      display: inline-block;
      margin:1rem
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content h3 {
    font-size:2.5rem;
  }
  .home-img{
      width:100%;
      display: flex;
      justify-content: center;
      /* background-color: #f6f8fa; */
      margin-top: 20px;
  }
  .home-img img {
      width: 60vw;
  }
  .home-content .btn {
    display: grid;
    margin:0 auto;
  }
  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .services h2 {
    font-size: 6rem;
  }
  .projects h2 {
    font-size: 6rem;
  }
  .timeline-section h2 {
    font-size: 6rem;
  }
  .timeline-items::before {
    left:7px;
  }
  .timeline-item:nth-child(odd){
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(even),
  .timeline-item:nth-child(odd){
    padding-left: 37px;
  }
  .timeline-dot {
    left:-1px;
  }
  .contact h2 {
    font-size: 6rem;
  }
  .contact form {
    padding:10px
  }
}
